- if answers
  - answers.each do |answer|
    .AnswerList
      .AnswerInfo
        .AnswerInfo__time
          = "#{time_ago_in_words(answer.created_at)}前"
        .AnswerInfo__username
          = answer.user.name
        .AnswerInfo__user
          = image_tag answer.user.image.url, class: "UserIcon__icon_style small_pic"
      .AnswerList__answer
        = answer.answer