- @questions.each do |question|
  .QuestionBox
    .AnswerCount
      = "#{question.answers.count}件"
    .UserIcon
      = link_to user_path(question.user.id), class: "UserIcon__icon" do
        - if(question.user.image.present?)
          .UserIcon__icon_style
            = image_tag question.user.image.url, class:"UserIcon__icon_style"
        - else
          = image_tag "/images/default.jpg", class: "UserIcon__icon_style"
        %p.UserIcon__name
          = question.user.name
    .InfoBox
      .InfoBox__title
        = link_to question_path(question.id) do
          = question.title
        - if question.is_solved?
          %span 解決済
        - else
          %spna 受付中
      .SubInfoBox
        %ul.SubInfoBox__tag
          %li.Tag-item
            - if question.subject.has_parent?
              - if question.subject.parent.has_parent?
                = question.subject.parent.parent.category
                %li.Tag-item
                  = question.subject.parent.category
                %li.Tag-item
                  = question.subject.category
              - else
                = question.subject.parent.category
                %li.Tag-item
                  = question.subject.category
            - else
              = question.subject.category
        .SubInfoBox__post-date
          = "#{time_ago_in_words(question.subject.created_at)}前"
.PageBox
  = paginate @questions, remote: true