.Content
  .QuestionFormBox
    = form_with model: @question, url: questions_path, local: true, class: "QuestionForm" do |f|
      = render "/devise/shared/error_messages", {resource: @question, attribute: :title}
      .QuestionTitle
        .QuestionTitle__label
          = f.label 'タイトル'
          %span (必須)
        = f.text_field :title, autofocus: true
      = render "/devise/shared/error_messages", {resource: @question, attribute: :question}
      .QuestionText
        .QuestionText__label
          = f.label '本文'
          %span (必須)
        .QuestionText__modifier
          %span= icon('fas', 'highlighter')
          %span= icon('fas', 'bold')
          %span= icon('fas', 'link')
        = f.text_area :question, rows: 15
      .QuestionCategory
        .QuestionCategory__label
          = f.label 'カテゴリー'
          %span (任意)
        .QuestionCategory__category.ChoiceBox
          = f.collection_select :subject_id, @category_parent_array, :id, :category, {}, {class: "ChoiceBox__input"}
        = f.submit "質問を投稿する", class: "QuestionSubmit"