.QandAwrapper
  .QandAwrapper__topfield
    .ShowQuestion.Wrapper
      %p.ShowQuestion__head Question
      .ShowQuestion__title
        = @question.title
        %span#resolved
          = render partial: 'is_solved', locals: { question: @question }
      .ShowQuestion__text.Showtext
        = @question.question
      .ShowQuestion__category
        %span カテゴリー:
        .Showcategory
          %ul.SubInfoBox__tag
            %li.Tag-item
              - if @question.subject.has_parent?
                - if @question.subject.parent.has_parent?
                  = @question.subject.parent.parent.category
                  %li.Tag-item
                    = @question.subject.parent.category
                  %li.Tag-item
                    = @question.subject.category
                - else
                  = @question.subject.parent.category
                  %li.Tag-item
                    = @question.subject.category
              - else
                = @question.subject.category
  .QandAwrapper__bottom
    = render partial: 'answer_input', locals: { question: @question, answer: @answer }
    .AnswerLists.Wrapper
      .AnswerLists__sum
        %h3 解答ルーム
      .AnswerLists__box
        = render partial: 'answer_room', locals: { answers: @answers }