.QandAwrapper
  .QandAwrapper__topfield
    .ShowQuestion.Wrapper
      %p.ShowQuestion__head Question
      .ShowQuestion__title
        = @question.title
        %span#resolved
          = render partial: 'is_solved', locals: { question: @question }
      .ShowQuestion__text.Showtext
        = @question.question
      .ShowQuestion__category
        %span カテゴリー:
        .Showcategory
          %ul.SubInfoBox__tag
            %li.Tag-item
              - if @question.subject.has_parent?
                - if @question.subject.parent.has_parent?
                  = @question.subject.parent.parent.category
                  %li.Tag-item
                    = @question.subject.parent.category
                  %li.Tag-item
                    = @question.subject.category
                - else
                  = @question.subject.parent.category
                  %li.Tag-item
                    = @question.subject.category
              - else
                = @question.subject.category
  .QandAwrapper__bottom
    .AnswerForm.Wrapper
      %p.AnswerForm__head Send an Answer
      = form_with model: @answer, url: question_answers_path(@question.id), class: "AnswerForm__form" do |f|
        .AnswerForm__textarea
          = f.text_area :answer, { class: "AnswerTextarea AnswerForm__textarea_defaultnone", placeholder: "Type a message", cols: "70", rows: "10" }
        .AnswerForm__submit
          = f.submit "Send", { class:"Button AnswerSend" }
    .AnswerLists.Wrapper
      .AnswerLists__sum
        %h3 解答ルーム
      .AnswerLists__box
        - if @answers
          - @answers.each do |answer|
            .AnswerList
              .AnswerList__answer
                = answer.answer
              .AnswerInfo
                .AnswerInfo__time
                  = "#{time_ago_in_words(answer.created_at)}前"
                .AnswerInfo__user
                  = image_tag answer.user.image.url, class: "UserIcon__icon_style"