.AccountPage
  .AccountPage__title
  .AccountPage__form
    = form_with model: @user, url: user_registration_path do |f|
      = devise_error_messages!
      .FormField
        .FormField__label--normal
          = f.label :name
        .FormField__label--normal
          = f.text_field :name, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :birth_date
        .FormField__label--normal
          = f.date_field :birth_date