%input.QandALists__input{type: "radio", name:"tabset", id:"question-tab"}
  %label.QandALists__tab{for: "question-tab"}= "Questions ▼"
.QandALists__content#question-content-tab
  %ul.QandALists__lists
    - if user_questions.present?
      - user_questions.each do |question|
        %li.QandALists__item
          = "title: "
          = link_to "#{question.title}", question_path(question.id), class: "User_Questions__link"
    - else
      %p.QandALists_none= "#{current_user.name}様が投稿した質問はありません。"
%input.QandALists__input{type: "radio", name:"tabset", id:"answer-tab"}
  %label.QandALists__tab{for: "answer-tab"}= "Answers ▼"
.QandALists__content#answer-content-tab
  %ul.QandALists__lists
    - if user_answers.present?
      - user_answers.each do |answer|
        %li.QandALists__item
          = "title: "
          = link_to "#{answer.question.title}", question_path(answer.question.id), class: "User_Answers__link"
    - else
      %p.QandALists_none= "#{current_user.name}様が投稿した回答はありません。"