.Content
  .Content__wrapper
    .Title
      %h2 Edit Account
    = form_with model: @user, url: user_path(@user.id), method: :patch, local: true, class: "ShowAccount" do |f|
      .ShowAccount__leftfield
        = render "/devise/shared/error_messages", {resource: @user, attribute: :name}
        .InfoField
          .fas.fa-user
          = f.text_field :name, autofocus: true, class: 'InfoField__list', value: @user.name
        = render "/devise/shared/error_messages", {resource: @user, attribute: :email}
        .InfoField
          .fas.fa-envelope
          = f.email_field :email, value: @user.email, class: 'InfoField__list'
        = render "/devise/shared/error_messages", {resource: @user, attribute: :job}
        .InfoField
          .fas.fa-graduation-cap
          = f.select :job, options_for_select(User.job_selects, selected: @user.job), {}, class: 'InfoField__list'
        .InfoField
          .fas.fa-paper-plane
          = f.label "Get Notice"
          = f.check_box :notice, class: "InfoField__list"
      .ShowAccount__rightfield
        = f.label :image, class: 'ImageInfo' do
          - if @user.image?
            = image_tag @user.image.url, class: "ImageInfo__image"
            = f.file_field :image, class: 'ImageInfo__upload'
          - else
            = image_tag "/images/default.jpg", class: "ImageInfo__image"
            = f.file_field :image, class: 'ImageInfo__upload'
        = f.submit "変更する", class: "Button block"