%nav.navbar.navbar-expand-lg.navbar-light.d-flex.navcolor.fixed-top
  %a.navbar-brand.text-decoration-none.text-white{ href: "#" } 
    = icon('fas', 'school')
    &nbsp;StudyShare
  
  %ul.navbar-nav.mr-auto
    %li.nav-item.active.border-right.border-left.ml-5.font-weight-bold.nav-font
      %a.nav-link.text-white{ href: "#" }
        質問する
    %li.nav-item.active.border-right.border-left.ml-5.font-weight-bold
      %a.nav-link.text-white{ href: "#" }
        ノート

  %ul.navbar-nav
    - if (user_signed_in?)
      %li.nav-item.active.ml-3.font-weight-bold.nav-link.text-white
        = "#{current_user.name}さん,こんにちは！"
      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "ユーザー編集", edit_user_registration_path, class: "nav-link text-white"
      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-white"
    
    - else
      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "サインイン", new_user_session_path, { class: "nav-link text-white"}

      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "新規登録", new_user_registration_path, { class: "nav-link text-white"}
   