%nav.navbar.navbar-expand-lg.navbar-light.d-flex.navcolor.fixed-top
  %a.navbar-brand.text-decoration-none.text-white{ href: "/" } 
    = icon('fas', 'school')
    &nbsp;StudyShare
  
  %ul.navbar-nav.mr-auto
    - if user_signed_in?
      %li.nav-item.active.border-right.border-left.ml-5.font-weight-bold.nav-font
        = link_to "質問する", new_question_path(current_user.id), class: "nav-link text-white"
    
  .navbar-nav.mr-auto
    = form_with url: search_questions_path, method: :get, local: true do |f|
      .SearchBox
        = f.text_field :keyword, class: "SearchBox__form", placeholder: "keyword"
        = f.submit "検索", class: "SearchBox__submit"
  %ul.navbar-nav
    - if (user_signed_in?)
      %li.nav-item.active.ml-3.font-weight-bold.nav-link.text-white
        = "#{current_user.name}さん,こんにちは！"
      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "編集", user_path(current_user.id), class: "nav-link text-white"
      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-white"
    
    - elsif @signup
    - else
      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "サインイン", new_user_session_path, { class: "nav-link text-white"}

      %li.nav-item.active.border-right.border-left.ml-3.font-weight-bold
        = link_to "新規登録", new_user_registration_path, { class: "nav-link text-white"}
   