!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    /
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %title StudyShare
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    %link{href:"https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap", rel:"stylesheet"}
    %link{href: "https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Kosugi+Maru&display=swap",rel:"stylesheet"}
  %body
    #wrapper
      = render partial: 'modules/nav'
      = yield
      = render partial: 'modules/footer'

